<h1>LIST OF POSTS</h1>

<p class="notice"><%= flash[:notice] %></p>
<p class="alert"><%= flash[:alert] %></p>

<ul> 
<% @posts.each do |post|  %>
	<li>
		<p>
			<%= link_to post.title, post_path(post) %> created by <%= post.user.full_name %>
		</p>

		<span>
			Post has <%= pluralize post.comments.count, 'comment' %>
		</span>

		<span>
			<%= link_to "edit post", edit_post_path(post) %>
		</span>

		<span>
			<%= link_to "delete post", post_path(post), method: :delete,
              data: { confirm: 'Are you sure?' }  %>
		</span>
	</li>
<% end %> 
</ul>

<ul>
<%= link_to "Create post", new_post_path %>
</ul>